.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  .left-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .h-shape {
      transition: all 0.3s ease-in-out;
      width: 65%;
      height: 100%;
      background-color: var(--color-secondary);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
    }
    .image {
      border-radius: var(--br-sm-2);
      height: 45%;
      background-color: var(--color-black);
      transition: all 0.3s ease-in-out;
      border-radius: 53% 47% 18% 82% / 46% 26% 74% 54%;
      // &:hover {
      //   border-radius: 72% 28% 79% 21% / 41% 46% 54% 59% ;
      // }
      img {
        border-radius: 53% 47% 18% 82% / 46% 26% 74% 54%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
        filter: grayscale(100%);
        &:hover {
          filter: grayscale(0);
          // border-radius: 72% 28% 79% 21% / 41% 46% 54% 59% ;
        }
      }
    }
  }
  .right-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15rem;
    .name {
      display: flex;
      flex-direction: column;
      .dynamic-text {
        position: relative;
        top: 0;
        color: var(--color-secondary);
        width: max-content;
        &::before,
        &::after {
          position: absolute;
          content: "";
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
        &::before {
          background-color: var(--color-primary);
          border-left: 2px solid var(--color-secondary);
          animation: typing 4s 1s steps(14) infinite;
        }
      }
      @keyframes typing {
        to {
          left: 100%;
        }
      }
    }
    p {
      margin: 1.5rem 0;
      line-height: 2rem;
      font-size: 1.4rem;
    }
  }
}