.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  .left-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .image {
      border-radius: var(--br-sm-2);
      height: 45%;
      background-color: var(--color-black);
      transition: all var(--time-transition) cubic-bezier(0.5, 0, 0, 1);
      border-radius: 53% 47% 18% 82% / 46% 26% 74% 54%;
      .my-face {
        border-radius: 53% 47% 18% 82% / 46% 26% 74% 54%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all var(--time-transition) cubic-bezier(0.5, 0, 0, 1);
        filter: grayscale(100%);
        &:hover {
          filter: grayscale(0);
        }
      }
    }
    .image:hover,
    .my-face:hover {
      border-radius: 72% 28% 79% 21% / 41% 46% 54% 59%;
    }
  }
  .right-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18rem;
    .name {
      display: flex;
      flex-direction: column;
      .dynamic-text {
        position: relative;
        top: 0;
        color: var(--color-secondary);
        width: max-content;
        &::before,
        &::after {
          position: absolute;
          content: "";
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
        &::before {
          background-color: var(--color-primary);
          animation: typing 1s 0.5s steps(14) forwards;
        }
        &::after {
          width: 4px;
          background-color: var(--color-secondary);
          animation: typing 1s 0.5s steps(14) forwards,
            blink 750ms steps(14) infinite;
        }
      }
      @keyframes typing {
        to {
          left: 100%;
        }
      }
      @keyframes blink {
        to {
          background: transparent;
        }
      }
    }
    p {
      margin: 1.5rem 0;
      line-height: 2rem;
      font-size: 1.4rem;
    }
  }
}
